@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

[data-theme='dark']:root {
  --hue: 53;
  --bg: #e8e3e3;
  --fg: #1c1717;
  --primary: #f20d0d;
  --trans-dur: 0.3s;
  --trans-timing1: cubic-bezier(0.65, 0, 0.35, 1);
  --trans-timing2: cubic-bezier(0.65, 0, 0.35, 1.35);
  --logo-color: white;
  --logo-mobile-color: rgb(0, 0, 0);
  --nav-bg-color: rgba(255, 255, 255, 0.95);
  --text-color: rgb(255, 255, 255);
  --breadcrumbs-line: rgba(255, 255, 255, 0.1);
  --mil-muted: rgba(0, 0, 0, 0.9);
  --mil-soft: rgba(0, 0, 0, 0.4);
  --footer-bg: rgb(255, 255, 255);
  --footer-link-color: rgba(0, 0, 0, 0.9);
  --subscribe-input-bg-color: rgba(0, 0, 0, 0.1);
  --social-icon-color: rgb(0, 0, 0);
}

[data-theme='light']:root {
  --hue: 53;
  --bg: #e8e3e3;
  --fg: #1c1717;
  --primary: #f20d0d;
  --trans-dur: 0.3s;
  --trans-timing1: cubic-bezier(0.65, 0, 0.35, 1);
  --trans-timing2: cubic-bezier(0.65, 0, 0.35, 1.35);
  --logo-color: rgb(0, 0, 0);
  --logo-mobile-color: white;
  --nav-bg-color: rgba(0, 0, 0, 0.95);
  --text-color: rgb(0, 0, 0);
  --breadcrumbs-line: rgba(0, 0, 0, 0.1);
  --mil-muted: rgb(255 255 255 / 90%);
  --mil-soft: rgba(255, 255, 255, 0.4);
  --footer-bg: rgb(0, 0, 0);
  --footer-link-color: rgba(255, 255, 255, 0.9);
  --subscribe-input-bg-color: rgba(255, 255, 255, 0.1);
  --social-icon-color: rgb(255, 255, 255);
}




.text {
  color: var(--text-color);
}

.mil-breadcrumbs li:after {
  color: var(--text-color) !important;
}

.mil-breadcrumbs li a {
  color: var(--text-color) !important;
}

.mil-breadcrumbs:before {
  background-color: var(--breadcrumbs-line) !important;
}

.mil-muted {
  color: rgb(255 255 255 / 90%) !important;
}

.mil-light-soft {
  color: rgba(255, 255, 255, 0.4) !important;
}

.grax_tm_copyright{
	background: linear-gradient(to bottom, transparent 180px, #000 180px) !important;
	position: relative;
}

.mil-footer-menu ul li a {
  color: rgba(255, 255, 255, 0.9) !important;
}

.mil-subscribe-form input {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.mil-social-icons li a {
  color: rgb(255, 255, 255);
}

.contactSubBody {
  /* background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); */
  overflow: hidden;
}

.my_wave {
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
}



.mil-frame-top .mil-logo-front {
  color: var(--logo-color) !important;
}

.mil-frame .mil-frame-top .mil-menu-btn span,
.mil-frame .mil-frame-top .mil-menu-btn span:after,
.mil-frame .mil-frame-top .mil-menu-btn span:before {
  background: var(--logo-color) !important;
}



.mil-menu-btn span,
.mil-menu-btn span:after,
.mil-menu-btn span:before {
  content: "";
  display: block;
  width: 28px;
  height: 2.5px;
  background: rgb(255, 255, 255);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: inherit;
  transition: inherit;
}

.mil-frame-top .mil-logo {
  pointer-events: all;
  color: rgb(255, 255, 255);
}

.mil-breadcrumbs:before {
  content: "";
  position: absolute;
  right: calc(100% + 30px);
  top: 10px;
  width: 100vw;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.mil-breadcrumbs li:after {
  content: "/";
  margin: 0 15px;
  color: rgb(255, 255, 255);
}

.mil-breadcrumbs li a {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap;
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}

/* #stars,
#stars:after {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 
        872px 1989px #FFF, 1715px 1801px #FFF, 1423px 447px #FFF, 1084px 346px #FFF, 
        448px 127px #FFF, 37px 1779px #FFF, 1667px 665px #FFF, 1848px 815px #FFF, 
        730px 1082px #FFF, 82px 1393px #FFF, 500px 800px #FFF, 400px 1500px #FFF, 
        600px 1200px #FFF, 700px 1300px #FFF, 900px 900px #FFF, 1100px 1700px #FFF, 
        950px 1450px #FFF, 1200px 400px #FFF, 1600px 600px #FFF, 200px 500px #FFF, 
        300px 700px #FFF, 1500px 800px #FFF, 1700px 1000px #FFF, 1800px 1800px #FFF, 
        1900px 1600px #FFF, 2000px 200px #FFF, 1800px 300px #FFF, 1400px 500px #FFF, 
        600px 600px #FFF, 1200px 1200px #FFF, 100px 100px #FFF, 200px 800px #FFF, 
        1300px 900px #FFF, 500px 1200px #FFF, 900px 1600px #FFF, 400px 600px #FFF, 
        800px 400px #FFF, 1100px 800px #FFF, 900px 900px #FFF, 100px 1300px #FFF, 
        600px 700px #FFF, 1500px 300px #FFF, 1400px 2000px #FFF, 1100px 1100px #FFF, 
        800px 1200px #FFF, 400px 1600px #FFF, 1000px 400px #FFF, 1300px 1400px #FFF, 
        100px 700px #FFF, 200px 2000px #FFF, 1600px 1000px #FFF,
        3000px 3000px #FFF, 2500px 2800px #FFF, 4000px 1200px #FFF, 4200px 1500px #FFF,
        872px 1989px #FFF, 1715px 1801px #FFF, 1423px 447px #FFF, 1084px 346px #FFF, 
        448px 127px #FFF, 37px 1779px #FFF, 1667px 665px #FFF, 1848px 815px #FFF, 
        730px 1082px #FFF, 82px 1393px #FFF, 500px 800px #FFF, 400px 1500px #FFF, 
        600px 1200px #FFF, 700px 1300px #FFF, 900px 900px #FFF, 1100px 1700px #FFF, 
        950px 1450px #FFF, 1200px 400px #FFF, 1600px 600px #FFF, 200px 500px #FFF, 
        300px 700px #FFF, 1500px 800px #FFF, 1700px 1000px #FFF, 1800px 1800px #FFF, 
        1900px 1600px #FFF, 2000px 200px #FFF, 1800px 300px #FFF, 1400px 500px #FFF, 
        600px 600px #FFF, 1200px 1200px #FFF, 100px 100px #FFF, 200px 800px #FFF;

        animation: animStar 50s linear infinite;
    position: absolute;
}

#stars:after {
    content: " ";
    top: 2000px;
}

#stars2,
#stars2:after {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 
        1039px 759px #FFF, 341px 476px #FFF, 1907px 1119px #FFF, 1459px 358px #FFF, 
        1160px 1639px #FFF, 937px 1427px #FFF, 850px 1200px #FFF, 400px 800px #FFF, 
        1200px 1000px #FFF, 900px 500px #FFF, 1300px 1600px #FFF, 400px 1100px #FFF, 
        1450px 600px #FFF, 1400px 1700px #FFF, 1300px 1500px #FFF, 900px 1200px #FFF, 
        1600px 1300px #FFF, 600px 1100px #FFF, 1700px 1800px #FFF, 1200px 400px #FFF, 
        1600px 700px #FFF, 1900px 1200px #FFF, 1100px 1300px #FFF, 900px 1500px #FFF,
        2500px 900px #FFF, 2700px 800px #FFF, 3500px 1800px #FFF, 4000px 1400px #FFF,
        1039px 759px #FFF, 341px 476px #FFF, 1907px 1119px #FFF, 1459px 358px #FFF, 
        1160px 1639px #FFF, 937px 1427px #FFF, 850px 1200px #FFF, 400px 800px #FFF, 
        1200px 1000px #FFF, 900px 500px #FFF, 1300px 1600px #FFF, 400px 1100px #FFF, 
        1450px 600px #FFF, 1400px 1700px #FFF, 1300px 1500px #FFF, 900px 1200px #FFF, 
        1600px 1300px #FFF, 600px 1100px #FFF, 1700px 1800px #FFF, 1200px 400px #FFF, 
        1600px 700px #FFF, 1900px 1200px #FFF, 1100px 1300px #FFF, 900px 1500px #FFF;
        animation: animStar 50s linear infinite;
    position: absolute;
}

#stars2:after {
    content: " ";
    top: 2000px;
}

#stars3,
#stars3:after {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 
        707px 145px #FFF, 1680px 1238px #FFF, 1127px 1077px #FFF, 1423px 1990px #FFF, 
        1100px 500px #FFF, 1500px 1200px #FFF, 800px 900px #FFF, 600px 1500px #FFF, 
        1300px 700px #FFF, 500px 1700px #FFF, 1400px 400px #FFF, 900px 1600px #FFF, 
        1500px 800px #FFF, 1800px 500px #FFF, 1300px 1200px #FFF, 1100px 600px #FFF, 
        900px 900px #FFF, 1700px 1100px #FFF, 1200px 1600px #FFF, 1400px 700px #FFF, 
        700px 1300px #FFF, 1800px 1700px #FFF, 1600px 1500px #FFF,
        3000px 900px #FFF, 3500px 1200px #FFF, 4000px 1500px #FFF
        707px 145px #FFF, 1680px 1238px #FFF, 1127px 1077px #FFF, 1423px 1990px #FFF, 
        1100px 500px #FFF, 1500px 1200px #FFF, 800px 900px #FFF, 600px 1500px #FFF, 
        1300px 700px #FFF, 500px 1700px #FFF, 1400px 400px #FFF, 900px 1600px #FFF, 
        1500px 800px #FFF, 1800px 500px #FFF, 1300px 1200px #FFF, 1100px 600px #FFF, 
        900px 900px #FFF, 1700px 1100px #FFF, 1200px 1600px #FFF, 1400px 700px #FFF;
        
        animation: animStar 50s linear infinite;
    position: absolute;
}

#stars3:after {
    content: " ";
    top: 2000px;
} */

/* #stars,
#stars:after,
#stars2,
#stars2:after,
#stars3,
#stars3:after {
  content: "";
  width: 3px;
  height: 3px;
  background: transparent;
  top: 2000px;
  position: absolute;
  animation: animStar 5s linear infinite;
}

@keyframes animStar {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-2000px);
  }
} */


#stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.star {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  opacity: 0.8;
}


/* Optional: Add more smoothness by adjusting timing functions
#stars, #stars2, #stars3 {
  animation-timing-function: ease-in-out;
} */


#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#contact {
  margin-bottom: 60px;
}

.iti {
  width: 100%;
}

.iti__flag-container {
  display: inline-block;
}

.iti__dropdown {
  z-index: 1000;
}

a {
  text-decoration: none;
}

.first-row,
.second-row,
.fourth-row {
  display: flex;
  justify-content: space-between;
}

.first-child,
.second-child {
  width: 48%;
}

#phone-number::-webkit-outer-spin-button,
#phone-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.send-button {
  display: flex;
  justify-content: end;
}

.button-se {
  width: 50%;
  padding: 12px 18px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #000;
  background-color: #D8FF36;
  border: none;
  border-radius: 3px;
  position: relative;
  border-radius: 13px;
}

i {
  margin-left: 12px;
}

.plane {

  position: absolute;
  right: 18px;
}

.fa-check,
.fade {
  animation: fade 2s;
  animation-fill-mode: forwards;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}

.fly {
  z-index: 999;
  position: absolute;
  animation-name: a;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0;
}

.done {
  background-color: #D4E157;
}

@keyframes fade {
  0% {
    color: transparent;
  }

  100% {
    color: #fff;
  }
}

@keyframes a {
  0% {
    top: 10px;
    left: 80px;
  }

  100% {
    top: -10000px;
    left: 10000px;
    transform: scale(-5);
  }
}


.code-container h1 {
  font-size: 130px;
  color: rgba(225, 225, 225, .1);
  background-image: url("../img/contact-heading-bg-image.jpg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: cover;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
  text-align: center;
  margin-top: 0px;
  text-transform: uppercase;
  font-weight: 900;

}


.third-child {
  width: 300px;
  height: 300px;
  background: lightgray;
}

.third-child p {
  font-size: 12px;
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("https://media0.giphy.com/media/TeBpzQZRaBIC4/giphy.gif?cid=ecf05e47t8reh80bpi8zmyp3fimer4l5rxah7ph69vhup4ya&rid=giphy.gif&ct=s");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  font-weight: bolder;
  font-family: helvetica;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}

.serviceSelect {
  height: 70px;
  border-radius: 13px;
}

.contactInput {
  position: relative;
  height: 70px;
  z-index: 1;
  padding: 0 30px;
  width: 100%;
  font-size: 12px;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  color: rgb(0, 0, 0);
  border: none;
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  border-radius: 13px;
}

.idea-form {
  background-color: #000;
  color: #fff;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 4.5em;
  z-index: 1;
  transition: background-color var(--trans-dur), color var(--trans-dur), height var(--trans-dur) var(--trans-timing2);
}

.idea-form,
.idea-form__btn,
.idea-form__content {
  border-radius: 13px;
}

.idea-form,
.idea-form__btn {
  position: relative;
}

.idea-form__btn {
  outline: transparent;
  transition: background-color var(--trans-dur), box-shadow var(--trans-dur), opacity var(--trans-dur) var(--trans-timing1);
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.idea-form__textarea {
  outline: transparent;
  transition: background-color var(--trans-dur), box-shadow var(--trans-dur), opacity var(--trans-dur) var(--trans-timing1);
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}


.idea-form__btn:disabled,
.idea-form__textarea:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.idea-form__btn {
  background-color: #000;
  box-shadow: 0 0 0 0.25em rgba(145, 8, 8, 0);
  color: #fff;
  cursor: pointer;
  display: flex;
  margin-inline-start: auto;
  padding: 0.5em 1em;
  z-index: 2;
}

.idea-form__btn--start {
  background-color: transparent;
  box-shadow: none;
  color: currentColor;
  display: flex;
  align-items: center;
  letter-spacing: 0.0625em;
  padding-inline-start: 5.25em;
  width: 100%;
  height: 4.5em;
  text-transform: uppercase;
  transition: opacity var(--trans-dur) var(--trans-timing1), visibility var(--trans-dur) steps(1, start);
}

.idea-form__btn:focus-visible {
  box-shadow: 0 0 0 0.25em rgba(145, 8, 8, 1);
}

.idea-form__content {
  opacity: 0;
  padding: 1.5em 1em 0.75em;
  padding-inline-start: 5.25em;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: opacity var(--trans-dur) var(--trans-timing1), visibility var(--trans-dur) steps(1, end);
}

.idea-form__fill,
.idea-form__icon,
.idea-form__label {
  position: absolute;
}

.idea-form__fill {
  background-color: #f9e822;
  border-radius: 50%;
  top: 1.75em;
  left: 2em;
  width: 1em;
  height: 1em;
  transform: translateY(50%) scale(0);
  transition: transform var(--trans-dur) var(--trans-timing1);
}

[dir="rtl"] .idea-form__fill {
  right: 2em;
  left: auto;
}

.idea-form__btn--start:focus-visible {
  box-shadow: none;
}

.idea-form__btn--start:focus-visible+.idea-form__fill,
.idea-form__btn--start:hover+.idea-form__fill {
  transform: translateY(0) scale(1);
}

.idea-form__icon {
  color: currentColor;
  display: block;
  top: 0.75em;
  left: 1em;
  width: 3em;
  height: 3em;
  z-index: 1;
}

[dir="rtl"] .idea-form__icon {
  right: 1em;
  left: auto;
}

.idea-form__label {
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.idea-form__textarea {
  background-color: transparent;
  color: #000;
  display: block;
  margin-bottom: 0.75em;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 0px 10px;
}

.idea-form__textarea::placeholder {
  color: #8c7373;
}

.idea-form[data-expanded="true"] {
  background-color: transparent;
  height: 260px;
  transition-timing-function: steps(1, end), ease, var(--trans-timing2);
}

.idea-form[data-expanded="true"] .idea-form__btn--start {
  opacity: 0;
  pointer-events: none;
  transition-timing-function: var(--trans-timing1), steps(1, end);
  visibility: hidden;
}

.idea-form[data-expanded="true"] .idea-form__content {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition-timing-function: var(--trans-timing1), steps(1, start);
  visibility: visible;
}

.idea-form[data-expanded="true"] .idea-form__fill {
  transform: translateY(0) scale(32);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1c1717;
    --fg: #e8e3e3;
  }

  .idea-form {
    background-color: #fff;
    color: #000;
  }
}

@keyframes animate {
  0% {
    background-position: left 0px top 10px;
  }

  40% {
    background-position: left 800px top 10px;
  }
}




@media only screen and (max-width:1200px) {
  .code-container h1 {
    font-size: 100px;
  }

  .mil-frame .mil-frame-top {
    background-color: var(--nav-bg-color) !important;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }

  .mil-frame-top .mil-logo-front {
    color: var(--logo-mobile-color) !important;
  }

  .mil-frame .mil-frame-top .mil-menu-btn span,
  .mil-frame .mil-frame-top .mil-menu-btn span:after,
  .mil-frame .mil-frame-top .mil-menu-btn span:before {
    background: var(--logo-mobile-color) !important;
  }

  .toggle-scene {
    width: 50% !important;
  }

  .bulb-form {
    top: 0 !important;
    right: 5rem !important;
  }

}


@media only screen and (max-width:992px) {
  .code-container h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width:768px) {
  .code-container h1 {
    font-size: 35px;
  }

  .button-se {
    width: 70%;
  }

  .first-row,
  .second-row,
  .fourth-row {
    flex-direction: column;
  }

  .first-child,
  .second-child {
    width: 100%;
  }

  .serviceSelect {
    margin-top: 30px;
  }

  .send-button {
    margin-top: 15px;
  }

  .idea-form__btn--start {
    font-size: 13px;
    height: 5.5em;
  }

  .iti-mobile .iti--container {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    height: 90%;
    transform: translate(-50%, -50%) !important; /* Centers the element horizontally and vertically */
    width: 90% !important;
    margin: 0;
    z-index: 1000;
  }

}

@media only screen and (max-width:500px) {
  .button-se {
    width: 100%;
    height: 50%;
    font-size: 18px;
  }

  .idea-form__btn--start {
    font-size: 11px;
    height: 6.2em;
  }

}